__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.git/
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
*.log
db.sqlite3
media/analysis_results/*
!media/analysis_results/.gitkeep
node_modules/
.DS_Store
myenv.yml
pipeline_*.log
