Django>=5.0
python-dotenv
numpy
pandas
rasterio
shapely
pyproj
geopandas
torch
segmentation-models-pytorch
opencv-python-headless
matplotlib
scipy
pymannkendall
earthengine-api
scikit-learn
scikit-image
folium
plotly
pydantic
langchain
langchain-openai
langchain-community
